@font-face {
  font-family:"Segoe UI";
  src: url("fonts/segoeui.woff2") format("woff2");
  src: url("fonts/segoeui.ttf") format("truetype");
}
@font-face {
  font-family:"Segoe UI Black";
  src: url("fonts/seguibl.woff2") format("woff2");
  src: url("fonts/seguibl.ttf") format("truetype");
}
@font-face {
  font-family:"Segoe MDL2 Assets";
  src: url("fonts/segmdl2.woff2") format("woff2");
  src: url("fonts/segmdl2.ttf") format("truetype");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100%;
  color: #E5E5E5;
  font-family: "Segoe UI", sans-serif;
}

.info {
  display: none;
}

.container {
  background: linear-gradient(#43BBDC, #525252, #FE4E50);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 30px;
}

.header h1, #display {
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #000000ae;
  font-size: 44px;
  text-shadow: 2px 2px 2px rgba(22,38,45, 0.7);
  font-family: "Segoe UI Black", sans-serif;
  font-size: 45px;
  font-weight: 900;
}

.calculator {
    width: 368px;
    height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F1F1F;
}

.specials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.keypad {
    background-color: #060606;
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.special, .key, .operator {
    width: 92px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1px solid #1F1F1F;
    font-size: 22px;
}

#add, #sub, #mul, #div {
    font-family: "Segoe MDL2 Assets", monospace;
}

.specials, .operator {
    background-color: #131313 !important;
}

#eq {
    background-color: #a73434;
}

.display {
    display: flex;
    width: inherit;
    height: auto;
}

::selection {
    background-color: #a73434bf;
}
.key:hover, .operator:hover, .special:hover {
    cursor: pointer;
}


#display {
    width: inherit;
    height: 150px;
    text-align: right;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0 20px;
    vertical-align: bottom;
    caret-color: #1F1F1F;
}
